{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="ml-8 mr-8 mt-3">
	<div id="sf_drawer_btn_wrap" class="pull-right">
		<button id="closeButton" class="btn btn-primary">{{str 'LBL_CLOSE_BUTTON_TITLE'}}</button>
	</div>
	<br><br>
	<p>
		<iframe src="{{this.finalUrl}}" class="w-full min-h-[800px]"></iframe>
	</p>
</div>
