{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="sidebar-nav-flyout-header bg-[--foreground-base] flex flex-row h-6 items-center justify-between relative text-base font-semibold py-3 pl-3 pr-2 rounded-md">
    <span class="ellipsis_inline grow rtl:text-right" data-bs-placement="bottom" title="{{str 'LBL_DOCUMENT_MERGE_FOOTER' 'DocumentMerges'}}">{{str 'LBL_DOCUMENT_MERGE_FOOTER' 'DocumentMerges'}}</span>
    <button id="template-assistant" class="btn bg-[--foreground-base] mr-2 rtl:!mr-auto rtl:!ml-2 text-[--text-base]">{{str 'LBL_DOCUMENT_MERGE_TEMPLATE_ASSISTANT' 'DocumentMerges'}}</button>
    <button class="bg-transparent p-0" data-action="close"><i class="{{buildIcon 'sicon-close-lg'}}"></i></button>
</div>
