{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="navbar navbar-fixed-top fixed h-14 overflow-visible">
    <div class="navbar-inner bg-transparent p-0 m-0 h-full">
        <div class="nav-collapse flex flex-grow flex-row items-center h-full max-w-full mx-6">
        </div>
    </div>
</div>
