{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="table">
    <p class="table-row">
        <span class="table-cell pr-1.5 break-words text-right text-gray-300 max-w-24 overflow-hidden text-ellipsis text-[11px]">{{key}}</span>
        <span class="table-cell max-w-32 overflow-hidden text-ellipsis text-[11px]">{{y}}</span>
    </p>
</div>
